*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blanco: #ffffff;
    --Oscuro: #212121;
    --primario: #FFc107;
    --secundario: #176fe2;
    --gris: #757575;
    --celesteclaro: #D6EAF8;
    
}

html{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right top, #d6eaf8, #d1ecf5, #cfedf1, #cfeeeb, #d2eee5);}

.contenedor{
    margin: auto;
    margin-top: 20px;
    padding: 40px;
    width: 800px;
    max-width: 850px;
    border-radius: 5px;
   
}



.contenedor_terciario{
    border: rgb(177, 176, 176) 1px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--blanco);

}

.imagen_titulo{
    display: block;
    margin: 1rem auto;
    align-items: center;
    width: 700px;
    max-width: 800px;
}
.imagen_imagen{
    width: 650px;
    max-width: 700px;
    align-items: center;
}

.titulo{
    text-align: left;
    font-size: 25px;
    margin-bottom: 1.5rem;
    font-weight: normal;
    min-height: 1.5rem;
    
}

.titulo_parrafo{
    text-align: left;
    
}

.formulario-principal{
    margin-top: 1rem;
}



.formulario fieldset{
    border: none;
}

.campo{
    border: rgb(177, 176, 176) 1px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--blanco);
    margin-bottom: 1rem;

}

.campo label{
    color: var(--Oscuro) ;
    display: block;
    margin-bottom: .5rem;
    
    
    
}


.datos{
    width: 50%;
    border: none;
    padding: 1rem;
    border-bottom: #757575 1px dotted;
    border-radius: .5rem;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.5rem;
    text-align: center;
    border: none;
    cursor: pointer;

}

@media (max-width: 480px) {
    .contenedor, .formulario-principal,.boton{
        width: 100%;
    }

}

@media (max-width: 768px) {
    .contenedor, .formulario-principal, .boton{
        width: 100%;
    }
}

@media (max-width: 480px ) {
    .imagen_titulo, .imagen_imagen{
        width: 100%;
    }
}

.alert{
    width: 100%;
    background-color: rgb(91, 220, 91);
    padding: 1rem;
    text-align: center;
    border: 5px;
    font-size: 20px;
    font-weight: 900;
    color: var(--blanco);
    margin-top: 0.5rem;
    display: none;


}